  /* Main Content */
  #homeTitle {
    text-align: center;
  padding: 15px;
}

table {
  width: 1200px;
  height: 90%;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  border-top: 3px solid var(--color-dark-grey);
  border-bottom: 3px solid var(--color-dark-grey);
}

thead {
  border-bottom: 1px solid var(--color-dark-grey);
}

#count {
	font-size: var(--font-micro);
 	font-weight: var(--weight-semi-bold);
	border-top: 1px solid var(--color-dark-grey);
	text-align: right;
}

.div-btn {
  text-align: center;
}

section button {
  	font-size: var(--font-micro);
  	font-weight: var(--weight-semi-bold);
	border: 2px solid var(--color-light-grey);
	border-radius: 5px;
}
#replyTable tbody{
	font-size: var(--font-micro);
}

#replyTable tr {
  border-bottom: 1px solid var(--color-dark-grey);
}

#replyTable td {
  padding: 5px;
}

#submitTd {
  width: 120px;
}

#txtarea {
	border: 1px solid var(--color-dark-grey);
	border-radius: 7px;
  	width: 1000px;
  	height: 92%;
}

#replySubmit {
  	width: 100px;
	height: 100px;
}

/* 1200px max */
@media screen and (max-width:1200px) {

table {
  width: 90%;
}
#txtarea{
	width: 100%;
}

}


