/* Main Content */
table {
	color: var(--color-dark-grey);
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	text-align: center;
	align-content: center;
	margin: auto;
	margin-top: 30px;
	padding-top:12px;
	padding-bottom:12px;
	border: 3px solid var(--color-light-green);
    border-radius: 5px;
}

td {
	padding-top:5px;
	padding-bottom:5px;
}

#reportArea textarea{
	width: 100%;
	height: 80px;
}


.subBtn {
	color: var(--color-dark-grey);
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
	padding: 5px 25px 5px 25px;
	border: 3px solid var(--color-light-green);
   border-radius: 5px;
}
