/* Main Content */
#home {
	margin: 30px;
}

table {
  width: 900px;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  border-top: 3px solid;
  border-bottom: 3px solid;
  
  color: var(--color-dark-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

th {
	border-bottom: 3px solid;
}

td {
  font-size: var(--font-small);

  border-bottom: 1px solid;
}

table button {
	margin: 3px;
	padding: 5px 15px 5px 15px;
	border: 3px solid var(--color-light-green);
  	border-radius: 5px;
}

#search {
	width: 900px;
	margin: auto;
	text-align: center;
	padding-top:8px;
}
.page {
	
	width: 900px;
	margin: auto;
	padding-top:10px;
    text-align: center;
}
.page a{
	color: var(--color-dark-grey);
	font-size: var(--font-small);
	font-weight: var(--weight-semi-bold);
}

@media screen and (max-width:900px) {
  table{
    width: 90%;
  }
  #search {
	width: 90%;
  }
  .page {
	width: 90%;
  }
}